@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Raleway:400,700");

$fontFamilyPrimary: "Montserrat", sans-serif;
$fontFamilySecondary: "Raleway", sans-serif;
$fontSize: 16px;

$pink: #f20f97;
$black: #000;
$white: #fff;
$transition: 0.4s ease;
$gray: gray;
$lightgray: #f8f8f8;
$py: 50px 0;
