@import "variable";
@import "reset";
@import "basic";
@import "mixin";

/**************
    HEADER
***************/
.header {
    color: $white;
    height: 90vh;
    background-image: linear-gradient(rgba($black, 0.4), rgba($black, 0.4)), url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 1;
        padding-top: 30px;
        .logo {
            font-size: 2rem;
            font-weight: 400;
            span {
                font-style: italic;
                font-weight: 900;
            }
        }
        ul {
            li {
                display: inline-block;
                margin-left: 70px;
                transition: transform $transition;
                &:first-child {
                    margin-left: 0;
                }
                a {
                    text-transform: uppercase;
                    font-size: 1rem;
                }
                &:hover {
                    transform: scale(1.3);
                    color: white;
                }
            }
        }
    }
    hgroup {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            text-align: center;
            font-family: $fontFamilySecondary;
            p {
                font-weight: 700;
                font-size: 1.3rem;
            }
            h1 {
                font-size: 4rem;
                margin: 45px auto;
                line-height: 1;
                font-weight: 700;
            }
            h4 {
                font-size: 1.3rem;
                font-style: italic;
                font-weight: 400;
            }
        }
    }
}
/**************
    ABOUT
***************/
.about {
    padding: $py;
    .container {
        display: flex;
        div {
            flex: 0 0 65%;
            padding-right: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h2 {
                margin-bottom: 50px;
            }
            p {
                margin: 25px 0;
            }
            button {
                @include btn($moveArrow: 20px, $px: 30px);
            }
        }
    }
    img {
        @include imgBasic();
        display: block;
        width: 100%;
    }
}
/**************
    WORKS
***************/
.works {
    padding: $py;
    .container {
        display: flex;
        justify-content: space-between;
        div {
            flex: 0 0 20%;
            text-align: center;
            line-height: 1;
            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
            hr {
                margin: 25px auto;
                width: 60px;
            }
            p {
                font-weight: 700;
                font-size: 0.85rem;
            }
        }
    }
}
/**************
    TEAMS
***************/
.teams {
    padding: $py;
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .wrap {
        display: flex;
        width: 60%;
        &:nth-child(odd) {
            align-self: flex-end;
            .text {
                order: 1;
                text-align: right;
                padding-right: 20px;
                align-items: flex-end;
            }
            hr {
                margin: 20px 0;
                transform: translateX(100px);
            }
            .image {
                order: 2;
            }
        }

        &:nth-child(even) {
            align-self: flex-start;
            .text {
                order: 2;
                text-align: left;
                padding-left: 20px;
                align-items: flex-start;
            }
            hr {
                margin: 20px 0;
                transform: translateX(-100px);
            }
            .image {
                order: 1;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        hr {
            border: 1px solid $pink;
            width: 460px;
        }
        .image {
            flex: 0 0 330px;
        }
    }
    h4 {
        font-size: 1.1rem;
    }

    img {
        width: 100%;
    }
}
/**************
    SERVICIES
***************/
.servicies {
    padding: $py;
    .container {
        display: flex;
        justify-content: space-between;
    }
    div {
        flex: 0 0 30%;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    h3 {
        color: $pink;
        font-size: 1.5rem;
    }
    img {
        @include imgBasic();
        width: 100%;
    }
}
/**************
    GALLERY
***************/
.gallery {
    padding: $py 0 0;
    header {
        margin-bottom: 50px;
        h2 {
            margin-bottom: 25px;
        }
        &::after {
            width: 350px;
        }
    }
    article {
        background-color: $lightgray;
        padding: 50px 0;
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .wraper {
            flex: 0 0 23%;
            min-width: 320px;
            position: relative;
            overflow: hidden;
            margin-bottom: 40px;
            cursor: pointer;
            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
            img {
                width: 100%;
                height: 100%;
                transition: transform $transition;
                object-fit: cover;
                //display: block;
            }
            h4 {
                @extend .centerAbsolut;
                background: rgba($pink, 0.7);
                padding: 10px;
                color: $white;
            }
        }
    }
}
/**************
    CONTACT
***************/
.contact {
    padding: $py;
    .container {
        display: flex;
        form {
            flex: 0 0 65%;
            padding-right: 60px;
            align-self: center;
            input,
            textarea {
                padding: 15px;
                width: 100%;
                font-family: $fontFamilyPrimary;
                font-size: 1.2rem;
                border: 1px solid rgba($gray, 0.4);
            }
            input {
                margin-bottom: 20px;
            }
            textarea {
                margin-bottom: 40px;
                height: 260px;
                resize: none;
            }
            button {
                @include btn($moveArrow: 40px, $px: 50px);
            }
        }
        img {
            @include imgBasic();
            width: 100%;
        }
    }
}
/**************
    FOOTER
***************/
footer {
    background-color: rgba($gray, 0.4);
    .top {
        padding: $py;
        background-color: $white;
        text-align: center;
        h3 {
            color: $pink;
            font-size: 1.5rem;
        }
        p {
            font-weight: 700;
            margin-top: 25px;
        }
    }
    .copy {
        padding: $py;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 1rem;
            font-weight: 400;
            i {
                color: $pink;
                margin-left: 10px;
            }
            a {
                text-transform: uppercase;
            }
        }
        ul {
            padding-right: 290px;
            li {
                display: inline-block;
                margin-left: 50px;
                &:first-child {
                    margin-left: 0px;
                }
                i {
                    @extend .social;
                    color: $pink;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
// RESPONSIVE
@media (max-width: 767px) {
}
